* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.menu-container {
  color: #fff;
  background: linear-gradient(to right, #480048, #c04848);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  flex-basis: 90%;
  display: flex;
  justify-content: space-between;
}

.account-actions {
  display: flex;
  column-gap: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #5995da;
  background: #ffc107;
  font-weight: bold;
}

.header {
  flex-basis: 90%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-img {
  width: 100%;
}

.logo {
  flex-basis: 50%;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-grid-item {
  border: 1px solid white;
  width: 300px;
  height: 300px;
}

.footer-container {
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid white;
  background: #5995da;
  height: 200px;
  flex: 1;
}

.footer-social img {
  width: 100%;
}

.footer-one,
.footer-three {
  background: #d6e9fe;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  width: 100%;
  color: #5995da;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.footer-menu li {
  flex-basis: 20%;
  text-align: center;
}

.footer-two {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-item {
    flex-basis: auto;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .footer-menu {
    height: 100%;
    align-items: center;
  }

  .footer-menu > li {
    flex-basis: 100%;
  }

  .menu {
    flex-direction: column;
    row-gap: 20px;
  }

  .account-actions {
    flex-direction: column;
    row-gap: 20px;
  }
}
